<footer>
    <div class="container">
        <div id="footer">
            <ul class="social">
                <li><a href="https://www.facebook.com/altput"><i class="fab fa-facebook-f"></i></a></li>
                <li><a href="https://www.instagram.com/alt_put/"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.linkedin.com/feed/"><i class="fab fa-linkedin-in"></i></a></li>
                <li><a href="https://altputrobotica.com.br"><i class="fab fa-github"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCBfsf3Bqiqb22F7PyFqSrvQ"><i class="fab fa-youtube"></i></a></li>
                
            </ul>
            <div class="copyrigth">
                <span>Altput Robótica © Todos os direitos reservados - 2020</span>
            </div>
        </div>
    </div>
</footer>