<header id="header">
    <nav>
        <div class="container navbar">
            <div id="logo">
                <a href="/"><p>ALTPUT <small>blog</small></p></a>
            </div>

            <ul id="menu-initial">
                <li><a href="/">Início</a></li>
                <li><a href="/category/Arduino">Arduino</a></li>
                <li><a href="/category/NodeMCU">NodeMCU</a></li>
                <li><a href="https://www.udemy.com/" target="_blank">Cursos</a></li>
            </ul>

            <div class="menu-wrap">
                <input type="checkbox" class="toggler" id="myCheck">
                <div class="hamburger">
                    <div></div>
                </div>
                
                <div class="menu">
                    <div><div>      
                    <ul>
                        <li><a href="/">Início</a></li>
                        <li><a href="/category/Arduino">Arduino</a></li>
                        <li><a href="/category/NodeMCU">NodeMCU</a></li>
                        <li><a href="https://www.udemy.com/" target="_blank">Cursos</a></li>
                    </ul>
                    </div></div>
                </div>
            </div>
        </div>
    </nav>
  </header>